.cabecera {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}

.botones {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.btn-ver {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-anadir {
  background-color: #212529; /* negro suave */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}